<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>CompcIT To-Do List App</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('add_task') }}">Add Task</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="content-box">
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer>
        <p>&copy; CompcIT, 2024 To-Do List App. All Rights Reserved.</p>
    </footer>
</body>
</html>
